@model IEnumerable<BenifitCostDemo.Models.Dependent>

@{
    ViewData["Title"] = "Index";
}

<h3>Employee Dependents</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dep_LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dep_FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relationship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>                
                <a href="@Url.Action("index", "EmployeeBenifitCost")" class="btn btn-outline-success"><i class="fa fa-info" aria-hidden="true"></i>View Cost</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dep_LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dep_FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relationship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
